.section {
    padding-top: 10%;
    text-align: center;
    color: #56453E;
}

.shopping {
    padding-left: 5%;
    padding-right: 5%;
}

.shopping:after {
    content: "";
    display: table;
    clear: both;
}

.garments {
    float: left;
    width: 33.33%;
    align-items: center;
    color: #56453E;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: x-large;
}

.models {
    cursor: pointer;
}

.size {
    border-color: #E0D7C7;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top-left-radius: calc(3.25rem - 15px);
    border-top-right-radius: calc(3.25rem - 15px);
    border-bottom-left-radius: calc(3.25rem - 15px);
    border-bottom-right-radius: calc(3.25rem - 15px);
    font-size: large;
    margin-left: 4%;
}

.add-btn {
    color: white;
    background-color: #56453E;
    margin-left: 4%;
    border-top-left-radius: calc(3.25rem - 15px);
    border-top-right-radius: calc(3.25rem - 15px);
    border-bottom-left-radius: calc(3.25rem - 15px);
    border-bottom-right-radius: calc(3.25rem - 15px);
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: large;
    margin-top: 2%;
}

.add-btn:hover {
    background-color: #E0D7C7;
    color: #56453E;
}


/* PHONES */
@media only screen and (max-width: 992px) {

        .section {
            padding-top: 25%;
            text-align: center;
            color: #56453E;
        }

        .garments {
            float: left;
            width: 100%;
            align-items: center;
            color: #56453E;
            padding-top: 4%;
            padding-bottom: 4%;
            padding-left: 6%;
            padding-right: 6%;
            font-size: x-large;
        }

        .size {
            border-color: #E0D7C7;
            width: 25%;
            border-top-left-radius: calc(3.25rem - 15px);
            border-top-right-radius: calc(3.25rem - 15px);
            border-bottom-left-radius: calc(3.25rem - 15px);
            border-bottom-right-radius: calc(3.25rem - 15px);
            font-size: large;
            padding-top: 1%;
            padding-bottom: 1%;
        }
        
        .add-btn {
            color: white;
            background-color: #56453E;
            margin-left: 4%;
            border-top-left-radius: calc(3.25rem - 15px);
            border-top-right-radius: calc(3.25rem - 15px);
            border-bottom-left-radius: calc(3.25rem - 15px);
            border-bottom-right-radius: calc(3.25rem - 15px);
            font-size: large;
            padding-top: 1%;
            padding-bottom: 1%;
        }

        .garment-body {
            text-align: center;
        }
    
}
