hr.section-border {
  border-top: 3px solid #56453E;
}

.title {
  color: #56453E;
  text-align: center;
  font-size: x-large;
}


.column {
    float: left;
    width: 50%;
    align-items: center;
    font-size: xx-large;
    color: #56453E;
    padding-left: 4%;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* PHONES */
@media only screen and (max-width: 768px) {

    .column {
      float: left;
      width: 50%;
      font-size: large;
    }
    
}
    

.sections {
  cursor: pointer;
  height: auto;
  width: 100%;
}

.sections .p {
  cursor: pointer;
}