.links {
    font-size: large;
    color: #56453E;
}

.header-icons {
    /* Color filtered by codepen.io */
    filter: invert(24%) sepia(3%) saturate(3104%) hue-rotate(332deg) brightness(99%) contrast(84%);
}

/*
.user-logo {
    margin-top: 20%;
}

/* PHONES */
@media only screen and (max-width: 768px) {
    /* Phones */
    .user-logo {
        margin-top: 5%;
    }
    
}