/* PROMO SECTION */

.header-background {
    background-color: #56453E;
    padding-top: 4rem;
}

.discount-section {
    background-color: #56453E;
    text-align: center;
    padding: 2rem;
}

.discount-header {
    color: #E0D7C7;
}

.discount-header2 {
    color: #E0D7C7;
    font-size: medium;
}

.discount-btn {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: x-large;
}

.discount-btn:hover {
    background-color: #E0D7C7;
}


/* PHONES */
@media only screen and (max-width: 768px) {

    .pic1 {
        display: none;
    }

    .pic3 {
        display: none;
    }

    .discount-btn {
        margin-top: 0.3rem;
        padding: 0.5rem;
        font-size: medium;
    }

    .discount-header2 {
        margin-top: 0.5rem;
        color: #E0D7C7;
        font-size: small;
    }
}
    
/* BANNER SECTION */

/* Women's wear section */

.womens-wear {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #56453E;

}

.womens-wear-items {
    align-items: center;
}

.grid-ww-pic {
    width: 100%;
    height: auto;
}

.img-info {
    position: absolute;
    top: 124%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.img-btn {
    color: "#56453E";
    margin-left: 40%;
}

.img-btn:hover {
    background-color: #E0D7C7;
    width: 100px;
    height: 38px;
    margin-left: 37%;
}


@media only screen and (min-width: 1020px) {
    .offers {
        display: none;
        background-color: #56453E;
        align-items: center;
        text-align: center;
    }
}



/* SECTIONS SECTION */

hr.section-border {
    border-top: 3px solid #56453E;
  }
  
  .title {
    color: #56453E;
    text-align: center;
  }
  
  
  .column {
      float: left;
      width: 50%;
      align-items: center;
      font-size: xx-large;
      color: #56453E;
      padding-left: 4%;
      padding-top: 4%;
      padding-right: 4%;
      padding-bottom: 4%;
      padding-left: 2%;
      padding-right: 2%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  
  /* PHONES */
  @media only screen and (max-width: 768px) {
  
      .column {
        float: left;
        width: 50%;
        font-size: large;
      }
      
  }
      
  
  .sections {
    cursor: pointer;
    height: auto;
    width: 100%;
  }
  
  .sections-links {
    text-decoration: none;
    color: #56453E;
  }

  .sections-links:hover {
    color: #E0D7C7;
  }

/* INFORMATION SECTION */

.info-sections {
    text-align: center;
    align-items: center;
    font-size: xx-large;
    color: #56453E;
    padding-left: 4%;
    padding-top: 16%;
    padding-right: 4%;
    padding-bottom: 16%;
    filter: brightness(75%);
  }

.info {
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.info-text {
    font-size: x-large;
    color: white;
}

.info-btn {
    border-radius: 0.5rem;
}

.info-btn:hover {
    background-color: #E0D7C7;
}

.info-sections:hover  {
    filter: brightness(100%);
    cursor: pointer;
  }

.invitation-banner {
  background-color: #56453E;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}

.join-header {
    color: #E0D7C7;
}

.join-btn {
    margin-bottom: 1%;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 0.5rem;
}


  /* PHONES */
@media only screen and (max-width: 768px) {

    .info-sections {
        float: center;
        text-align: center;
        width: 100%;
        align-items: center;
        font-size: xx-large;
        color: #56453E;
        padding-left: 4%;
        padding-top: 4%;
        padding-right: 4%;
        padding-bottom: 4%;
        margin-bottom: 1rem;
      }

    .info-text {
        font-size: large;
    }

    .join-header {
        font-size: 20px;
    }

    .sections-row {
        margin: 1rem;
    }

}

  /* Only for Desktop */
  @media only screen and (min-width: 992px) {

        #grid {
            display: grid;
            height: auto;
            grid-template: repeat(1, 1fr) / repeat(3, 1fr);
            gap: 20px 20px;
            padding-left: 3%;
            padding-right: 3%;
        }
}

  /* PHONES */
  @media only screen and (max-width: 992px) {

    .info-sections {
        margin-bottom: 5%;
    }

    .info-btn {
        font-size: large;
    }
    .sections-row {
        margin: 1rem;
    }

}


/* SIGNUP & LOGIN SECTION */

.form-container {
    margin: 0 auto;
    transform: translate(0px, 0px);
    color: #56453E;
}

.signup {
    padding-left: 25%;
    padding-right: 25%;
    font-size: x-large;
    margin-bottom: 3%;
}

.signup-row {
    width: 100%;
    margin-bottom: 2%;
}

.signup-row:after {
    content: "";
    display: table;
    clear: both;
  }

.signup-column {
    display: block;
    float: left;
    width: 50%;
}

.signup-inputs {
    width: 100%;
    border-radius: 0.5rem;
}

#name-input {
    width: 95%;
}

.signup-btn {
    color: white;
    background-color: #56453E;
    /*width: 100%;*/
    margin-bottom: 1%;
    border-radius: 0.5rem;
}

#signupbtn {
    padding-left: 3rem;
    padding-right: 3rem;
}

#btn-row {
    text-align: center;
}

.signup-btn:hover {
    background-color: #E0D7C7;
    color: #56453E;
}

.checkboxes {
    cursor: pointer;
}

.forget {
    text-decoration: none;
    color: #E0D7C7;
}

.forget:hover {
    color: #56453E;
}



/* PHONES */
@media only screen and (max-width: 768px) {

    .signup {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 3%;
    }

    .signup-column {
        display: block;
        float: left;
        width: 100%;
    }

    #name-input {
        width: 100%;
    }


    .check-labels {
        font-size: medium;
      }

    .signup-inputs::-webkit-input-placeholder {
        font-size: 20px;
        line-height: 3;
    }
}
