@font-face {
    font-family: 'Logo';
    src: url(../fonts/MagicOwl.otf);
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

@font-face {
    font-family: 'Main';
    src: url(../fonts/Montserrat.ttf);
    /*src: url(../fonts/KgFallForYou-YK84.ttf);
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }

.logoFont {
    font-family: 'Logo';
}

.main-font {
    font-family: 'Main';
}
