
/* Discount section */
.discount-section {
    background-color: #56453E;
    text-align: center;
    padding: 10px;
    margin-top: 3%;
}

.discount-header {
    display: inline;
    float: inline-end;
    color: #E0D7C7;
}

.header1 {
    font-size: 130px;
}

.header2{
    font-size: 80px;
}

.header3 {
    font-size: 15px;
}

.discount-btn {
    margin-bottom: 1%;
    padding-left: 55px;
    padding-right: 55px;
    border-top-left-radius: calc(3.25rem - 15px);
    border-top-right-radius: calc(3.25rem - 15px);
    border-bottom-left-radius: calc(3.25rem - 15px);
    border-bottom-right-radius: calc(3.25rem - 15px);
}

.header4 {
    font-size: 40px;
}

.discount-btn:hover {
    background-color: #E0D7C7;
}


/* Small Laptops */
@media only screen and (max-width: 1200px) {
    /* Small Laptops */
    .discount-section {
        margin-top: 6%;
    }

    .header1 {
        font-size: 50px;
    }
    
    .header2{
        font-size: 25px;
    }

    .header3 {
        font-size: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }

    .discount-btn {
        margin-top: 2%;
        margin-bottom: 2%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .header4 {
        font-size: 15px;
    }

}


/* PHONES */
@media only screen and (max-width: 768px) {
    .discount-section {
        margin-top: 20%;
    }

    .pic1 {
        display: none;
    }

    .pic3 {
        display: none;
    }

}
    