.column {
    float: left;
    width: 50%;
    align-items: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/* PHONES */
@media only screen and (max-width: 768px) {

    .column {
        float: left;
        width: 50%;
      }
}
    
.zoom {
  padding: 50px;
  transition: transform .2s; /* Animation */
  width: auto;
  height: 350px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.sections {
  cursor: pointer;
  height: auto;
  width: 100%;
}